<ion-header>
  <ion-navbar>
    <ion-title>Mise à jour de la photo n° {{object.id}}</ion-title>
  </ion-navbar>
</ion-header>
 

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary">Nom de la photo:</ion-label>
      <ion-input [(ngModel)]="object.nom_photo">{{leNomDeLaPhoto}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Correspond au mot:</ion-label>
      <ion-select [(ngModel)]="object.id_mot">
        <ion-option *ngFor="let m of mot" value={{m.id}}>
          {{m.nom_mot}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <upload-image 
        [show-size-list]="'false'" 
        [(imageUrl)]="object.nom_photo"
        [uploadSrvUrl]="'http://www.lcs.alsace/flc/php/'"
        [imageSize]=300
        [imageDirectory]="'../img/mots/'"></upload-image>
      <p *ngIf="object.nom_photo">
          <br>
          <img style="width: 140px; height: 140px;" src="img/mots/{{object.nom_photo}}">
      </p>  
    </ion-item>
  </ion-list>
  <button ion-button (click)="onCancel()">Annuler</button>
  <button ion-button color="secondary" (click)="onSave()">Enregistrer</button>
  <button ion-button color="danger" (click)="onRemove()">Supprimer</button>
</ion-content>